/* Primary color - #757575 */
/* Sub color - #212121 */
/* Brand color #2196F3*/
/* Black color #000000 */
/* White color #FFFFFF */
/* Primary bg color #2F303A */
/* Maine font - Roboto 400-500-700-900  */
/* Logo font - 'Raleway' 700 */
/*  */
:root {
  --primary-color: #757575;
  --sub-color: #212121;
  --brand-color: #2196f3;
  --total-black-color: #000000;
  --total-white-color: #ffffff;
  --bg-button-color: #f5f4fa;
  --primary-bg-color: #2f303a;
}

/* body */
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}

/* Сброс маркировки на всех списках */

.list {
  list-style: none;
}

/* HEDER  */
.header {
  background-color: var(--total-white-color);
}
/* Логотип */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #2196f3;
  text-decoration: none;
}

.head-style {
  color: var(--total-black-color);
}

/* NAV MENU */

.site-nav a {
  color: var(--sub-color);
}

.contacts a {
  color: var(--primary-color);
}

.site-nav a,
.contacts a {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.3;
}

/* Стиль посилань */
.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--brand-color);
}

/* HERO SECTION  */
.hero {
  background-color: var(--primary-bg-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--total-white-color);
  text-transform: uppercase;
}

/* Додаю стилі до кнопки "замовити послугу" */
.order-button {
  text-align: center;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--total-white-color);

  background-color: var(--brand-color);
  border: none;
  cursor: pointer;
}

/* Універсальний клас для h2 на сторінці */
.section-title {
  text-align: center;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  color: var(--sub-color);
}
/* Універсальний клас для feature h3 на сторінці */
.feature {
  background-color: var(--total-white-color);
}
.feature-title {
  font-weight: 700;
  line-height: 1.2;
  font-size: 14px;
  color: var(--sub-color);
  text-transform: uppercase;
}

.feature-list .text {
  line-height: 1.7;
}

/* TEAM  */
.team {
  background-color: #f5f4fa;
}

.team li {
  background-color: #fff;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--sub-color);
}

.team-list .text {
  font-size: 16px;
  line-height: 1.2;
  color: var(--primary-color);
}

/* FOOTER  - ADRESS*/
.footer {
  background-color: var(--primary-bg-color);
}

.foot-style {
  color: var(--total-white-color);
}

.address {
  color: var(--total-white-color);
  font-style: normal;
}

.mail,
.phone {
  color: var(--primary-color);
  font-style: normal;
}
/* Портфоліо */
.portfolio {
  background-color: var(--total-white-color);
}
/* Button style  */

.radio-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--sub-color);

  background-color: var(--bg-button-color);
  border: none;
  cursor: pointer;
}

.radio-button:hover,
.radio-button:focus {
  color: var(--total-white-color);
  background-color: var(--brand-color);
}

/* Projects list */

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--sub-color);
}

.projects li {
  background-color: var(--total-white-color);
  border: 1px solid #eeeeee;
}

.projects a {
  line-height: 1.7;
  text-decoration: none;
}

.projects-text {
  font-size: 16px;
  line-height: 1.9;
  color: var(--primary-color);
}
